{% extends "base.html" %}

{% block content %}
<h2>{{ course.name }}</h2>
<p>{{ course.get_ctype_display }}</p>
<div class="card">
    <div class="card-header">
        <h3 class="">成員列表</h3>
        <a href="{% url 'course_add_member' %}" class="btn btn-primary"></a>
    </div>
    <ul class="list-group list-group-flush">
        {% for student in course.students.all %}
        <li class="list-group-item">
            {{ student.name }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}